

.top__menu{
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .mode__view{
        display: inherit;

    }
    .left__menu__button{
      display: inline-flex;
      gap:6px;
    }
}

.tree__container{
  overflow-y: auto;
}
.side__property{
  overflow-y: auto;
}


.appbar__menu__container{
  display: flex;
  flex-direction: row;
  gap: 8px;

}
.appbar__menu__button{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color:
          color-mix(in srgb, var(--primary-color) 15%, transparent);
  cursor: pointer;
  font-weight: 500;
  font-size: 11px;
  min-width: 50px;
  max-width: 60px;
  height: 50px;
  justify-content: center;
  border: 1px solid
  color-mix(in srgb, var(--primary-color) 25%, transparent);
  gap: 0;
}
.appbar__menu__button:hover{
  border: 1px solid
  color-mix(in srgb, var(--primary-color) 25%, transparent) !important;
  background-color:
          color-mix(in srgb, var(--primary-color) 10%, transparent) !important;
}
.appbar__menu__button img{
  width: 20px;
}
.appbar__menu__button i{
  font-size: 20px;
}


.side__tree__layout{
  height: 100%;
  overflow: hidden;
}
.tree__host{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 4px;
    margin: 0 8px;

}


.tree__host.drag {
    z-index: 100;
}



.host__item{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    border: 0.1rem solid var(--color-border);
    border-radius: 4px;
    margin: 4px;
}
.host__item:hover{
    /*box-shadow: rgba(50, 50, 93, 0.25) 0 3px 6px -8px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* bottom-right shadow */
    transform: translateY(-1px); /* optional small lift */
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.host__active{

    color: var(--color-primary);
    background-color: #2563eb11;
    border-color: solid var(--color-primary);
    transition: 0.15s ease-in-out;
}




