.resize__line{
    width: 100%;
    height: 4px;
    background-color: var(--color-border);
    opacity: 0.8;
    cursor: row-resize;
}
.resize__line:hover, .dragging{
    background-color: var(--color-border);
    opacity: 1;
    transition: 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

